.CharacterList {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
}

.Character {
  width: 25%;
  min-width: 300px;
  /* border: gold 5px solid; */
  text-align: left;
  padding: 1%;
  margin: 1%;
  list-style-position: inside;
  list-style-type: square;
  list-style-image: url("../millenium-bullet-20x20.jpg");
}

.Character h2 {
  color: #443e3e;
  text-shadow: 1px 1px 5px #fff;
  font-size: 3.2rem;
  text-decoration: underline;
}

.Character li {
  color: whitesmoke;
  font-size: 2rem;
}
